html {
    height: 100%;
}

body {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size:cover;
    height: calc(100vh );
    color: #555;
    font-family: 'Lato';
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color:#fff;
}
/*-----------------Heading Navbar -----------------------*/

#topnav { 
    background-color: #8c240a;
    background: linear-gradient(to bottom right, red, yellow);
    padding: 25px 60px;
    color: #fff;
}

#navButtons a {
    color:#000;
    row-gap: 20px;
}

#navButtons a:hover {
    color:green;
}


#navbarNavDropdown ul li a:hover {
    color:green;
}

#heading {
    background-color: #8c240a;
}

#heading div a:hover {
   color:green;
}

#heading div i {
    color: #fff;  
}



.btnNav:hover, #myBtn:hover {
    border-radius: 15px;
    border: solid 1px transparent;
    background: linear-gradient(to bottom right, red, yellow);
    height: 38px;
}

#myBtn {
    border-radius: 15px;
}

#callInfo {
    
    text-align: center;  
    flex-direction: column; 
    display:inline-block;
} 

.text-black {
    color: white!important;
    
}

.shop-now-button {
    background: #8c240a;
    color: white;
    min-width: 260px;
}

.main-logo-link {
    width: fit-content;
}

.border-black {
    border: 1px solid black !important;
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }
/*----------------- Deals Page ---------------------*/

#deal1 {
    display: flex;
}

#deal2 {
    flex: 33.33%;
  
}

/*--------------------- Footer Page ---------------------------*/

#imgBorder {
    background-color: #8c240a;
    border-style: none;
   
}

.contact_background {
    background-color: #8c240a;

}

#contactInfo
 {
    
    background-color: #8c240a;
    margin-bottom: -164px;
    padding: 15px;
}
    
#footer {  
    text-align: center;
    background-color: #710d10;
    margin-bottom: 0;  
    padding-bottom: 5px;
    padding-top: 5px;
}

#customerServices a:hover {
    color:green;
}

#imgFooter {
   width: 200px;
}

/*----------------------------- Cart Page --------------------------*/
.cart {
    position: relative;
    background-color: #fff;
    color: black;
    font-size: 20px;
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 20px;

}

.cartAmount {
    position:absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

/* Shop items styles are here */

.shop {
    display: grid;
    grid-template-columns: repeat(4, 254px);
    gap:60px;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 45px;
    
}


  /*-----------------Social Media Icons ------------*/
   
  

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    margin-left: -10px;
  }
  

  .fa-twitter {
    background: #55ACEE;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
  }

  #socIcon a:hover {
    color:green;
  }

  