html {
    height: 100%;
}

body {
    background: url('/media/park-65999_1280.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
    padding-bottom: 100px; 
}


#topnav {
    background: linear-gradient(to bottom right, red, yellow);
    padding-top: 20px;
}

/* .navbar-nav {
    border: solid 1px transparent;
    background: linear-gradient(to bottom right, red, yellow);
    height: 38px;
    padding-bottom: 20px;
} */

.navbar-nav li a:hover {
    border-radius: 0px;
    border: solid 1px white;
    background: transparent;
    height: 38px;
}

.logo_myAccount ul i:hover{
    border-radius: 0px;
    background: transparent;
    height: 20px;
}

.dropdown-item {
    border: solid 1px transparent;
    background:  whitesmoke;
    height: 38px;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.logo_link a:hover {
    background: linear-gradient(to bottom right, red, yellow);
}


.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-grey {
    display:flex;
    justify-content: center;
    background: grey;
    color: white;
    width: 10px;
   
}

.btn-add {
    background: #e6a247;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #8c240a !important;
}


a.category-badge > span.badge:hover {
    background: #8c240a;
    color: #fff;
}

.btt-button {
    height:42px;
    width:42px;
    position:fixed;
    bottom:50px;
    right:10px;
    margin-bottom: 5px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-outline-black {
    background: white;
    color:#8c240a;
    border: 1px solid #8c240a;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background:#8c240a;
    color:#fff;
}

.cartIcon {
    position: relative;
    background-color: #fff;
    color: black;
    font-size: 20px;
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 20px;

}


.cartAmount {
    position:absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}


.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position:fixed;
    background: white;
    z-index: -1;
}

.contactInfo {
    background-color: #8c240a;
   margin-top: 600px;
   padding-top: 5px;
   margin-bottom: -500px;
   
}

.myFooter{
    text-align: center;
    background-color: #710d10;
    margin-bottom: 0;  
    padding-bottom: 5px;
    padding-top: 50px;
    
}

.navRow {
    background: linear-gradient(to bottom right, red, yellow);
}

.product-container {
    padding-bottom: 80px;
}

.shoplink {
    padding-top: 100px;
}


/* -------------------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


.cartIcon {
    position: relative;
    background-color: #fff;
    color: black;
    font-size: 20px;
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 20px;

}

.cartAmount {
    position:absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .table-responsive  {
        padding-bottom: 100px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .table-responsive  {
        padding-bottom: 100px;
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }


}
    
@media (max-width: 600px) {
    .table-responsive  {
        padding-bottom: 100px;
    }

    .myFooter {
        padding-top: 80px;
    }
    .product-container {
        padding-bottom: 80px;
    }

    .btt-button {
        margin-bottom: 35px;
    }
    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }
	
    .display-4.logo-font.text-black {
        font-size: 2rem;
    }	

}
/*-----------------Social Media Icons ------------*/
    

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    margin-left: -10px;
  }
  

  .fa-twitter {
    background: #55ACEE;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
  }

  #socIcon a:hover {
    color:green;
  }

  #imgFooter {
    width: 50px;
    height: 50px;
  }
  
  #imgBorder{
    background-color: #8c240a;
    border-style: none;
    align-items: center;
  }
