{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container mb-2 myCart">
            <div class="row">
                <div class="col">
                    <hr>
                    <h2 class="logo-font mb-4">Order Status</h2>
                    <hr>
                </div>
            </div>
              
            <div class="col-6 py-lg-0">
                <p>Use the input below to check your order status.</p>
                <form method="GET" action="{% url 'order_status' %}">
                    
                    {{ form|crispy }}
                    <div class="input-group ">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Place your Order number">
                        <div class="input-group-append">
                            <button class="form-control btn btn-add border border-black rounded-0" type="submit">
                                Check
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="col-12 col-lg-6">
                <p class="text-muted">Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orderlists %}
                                {% if order.order_number == search_term %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'order_history' order.order_number %}"
                                            title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:6 }}
                                            </a>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>
                                            <ul class="list-unstyled">
                                                {% for item in order.lineitems.all %}
                                                    <li class="small">
                                                        {% if item.gardenset.has_sizes %}
                                                            Size {{ item.gardenset.size|upper }}
                                                        {% endif %}{{ item.gardenset.name }} x{{ item.quantity }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>${{ order.grand_total }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>  
{% endblock %}